$BACKGROUND: #fffaff;
$TEXT-BACKGROUND: rgba(255,255,255,1);

$FAMILY-SANS: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

$TEXT-BASE: rgba(0,0,0,1);
$TITLE-COLOR: lighten($TEXT-BASE, 10%);
$TEXT-COLOR: lighten($TEXT-BASE, 20%);

$LINK-COLOR: $TITLE-COLOR;
$LINK-COLOR-VISITED: $LINK-COLOR;
$LINK-COLOR-HOVER: lighten($LINK-COLOR, 40%); 

$TITLE-SIZE: 1.7vw;
$TEXT-SIZE: 1.1vw;
$LINK-SIZE: 1.1vw;

$MENU-BACKGROUND-COLOR: #fffaff;
$MENU-TEXT-COLOR: rgba(40,40,40,1);
$MENU-TEXT-HOVER-COLOR: hotpink;
$MENU-LETTER-SPACING: 2px;
$MENU-LINE-HEIGHT: 1.5;

$MENU-TITLE-SIZE: 1.1rem;
$MENU-SUBTITLE-SIZE: 1.1rem;
$MENU-ITEM-SIZE: 1.1rem;

$MENU-WIDTH: 350px;
$MENU-ITEM-SPACING: 7px;

$TRANSITION-PERIOD: 0.1s;
$RESPONSIVE-SPACING: 2vw;
