---
---

@import 'constants';

html {
  font-size: 13px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

s {
  text-decoration:line-through;
}

a {
  font: 900 $LINK-SIZE $FAMILY-SANS;
  color: $LINK-COLOR;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: color $TRANSITION-PERIOD linear;

  &:visited {
    color: $LINK-COLOR-VISITED;
  }

  &:hover {
    color: $LINK-COLOR-HOVER;
  }
}

body {
  display: flex;
  flex-direction: row;

  font: normal $TEXT-SIZE $FAMILY-SANS;
  word-spacing: 3px;

  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-color: $BACKGROUND;
  color: $TEXT-COLOR;
  
}

.background404 {
    background-image:url('../assets/posts/404.gif'); 
    background-attachment: fixed;
    width:100%;
    }
  
.backgroundindex {
    background-image:url('../assets/posts/fio.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    width:100%;
    }


#navbar {
  float: right;
  display: block;
  box-sizing: border-box;
  z-index: 20;
  position:relative;
  width: 25%;
  max-width: $MENU-WIDTH;
  min-height: 100vh;
  padding: 4%;
  padding-top: 12%; 
  text-align: right; 

  a {
    /*display: block;*/
    white-space: nowrap;
  }
  
  
  .menu-item {
    padding-bottom: $MENU-ITEM-SPACING;

    font-size: $MENU-TITLE-SIZE;
    font-weight: 900;
    color: $MENU-TEXT-COLOR;
    text-transform: none;
    letter-spacing: $MENU-LETTER-SPACING;
    line-height: $MENU-LINE-HEIGHT;

    &:visited {
      color: $MENU-TEXT-COLOR;
    }

    &:hover {
      color: $MENU-TEXT-HOVER-COLOR;
    }
  }

  .menu-title {
    padding-bottom: 4 * $MENU-ITEM-SPACING;
    font-size: $MENU-TITLE-SIZE;
  }
  
  
 .social {
    font-size: 1.2 * $MENU-TITLE-SIZE;
  }
/*
  .menu-subtitle {
    padding-top: 1 * $MENU-ITEM-SPACING;
    font-size: $MENU-SUBTITLE-SIZE;

    &:hover {
      color: $MENU-TEXT-COLOR;
    }
  }
  */
  
  .menu-item-post, .menu-item-page {
    font-size: $MENU-ITEM-SIZE;
    font-weight: normal;
  }
  
}

#main-div {
  display: block;
  box-sizing: border-box;
  width: 70%;
  margin: $RESPONSIVE-SPACING auto;
}

#post {
  display: block;
  position: relative;
  box-sizing: border-box;

  width: 90%;

  padding: $RESPONSIVE-SPACING;
  margin: 0 auto;
  background-color: $TEXT-BACKGROUND;


  .post-title {
    font: bold $TITLE-SIZE $FAMILY-SANS;
    color: $TITLE-COLOR;
    text-transform: lowercase;
    text-align: left;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 78vh;
    border-radius: 5px;
  }
}

#swipebox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .swipebox {
    width: 20%;
    margin: 24px 5px 0;
  }
}

.video-wrapper-16x9 {
  padding-bottom: 56.25%;
}

.video-wrapper-1x1 {
  padding-bottom: 30%;
  position: relative;
  margin: 1rem auto;
  height: 0;
  overflow: hidden;
  width: 30%;
  height: 30%;
}

.video-wrapper {
  position: relative;
  margin: 1rem auto;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.video-grid {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  width: 100%;
}

iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* --------- 2 COLUMNS ----------*/

.row {
    display: flex;
}

.column {
    flex: 50%;
}


/* --------- COLLAPSIBLE TEXT ----------*/
 
input[type=checkbox] {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
}

label {
   cursor: pointer;
}
label {
  position: relative;
  display: block;
  padding-left: 30px;
}
label:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 10px;
  border-left: 8px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-top: -8px;
}
input[type=checkbox]:checked ~ h2 label:before {
  border-left: 8px solid transparent;
  border-top: 8px solid black;
  border-right: 8px solid transparent;
  margin-left: -4px;
  margin-top: -4px
}

#p {
  max-height: 0;
  text-overflow: hidden;
  padding-left: 30px;
  transition: max-height 0.5s ease;
}

input[type=checkbox]:checked ~ h2 ~ p {
  max-height: 80px;
}
