
body {
      margin: 0;
      padding: 0;    
      font-family: 'Source Code Pro', 'Courier New', 'Lucida Sans Typewriter', monospace;
      background-color: #2057b5;
    }

p {
    font-size: 11px;
    color: #2057b5;
    font-family: 'Source Code Pro', 'Courier New', 'Lucida Sans Typewriter', monospace;
    line-height: 20px;
    text-align: left;
    /*position: absolute;*/
    left: 30px;
    bottom: 20px;
}

b {
    font-size: 11px;
    font-weight: 600;
    color: #2057b5;
    font-family: 'Source Code Pro', 'Courier New', 'Lucida Sans Typewriter', monospace;
    line-height: 20px;
    text-align: left;
    /*position: absolute;*/
    left: 30px;
    bottom: 20px;
}


h4 {
    font-size: 30px !important;
    color: black;
    font-family: 'Source Code Pro', 'Courier New', 'Lucida Sans Typewriter', monospace;
    line-height: 20px;
    text-align: left;
    /*position: absolute;*/
    left: 0px;
    bottom: -20px;
    background-color: black;
    position: absolute;
    font-weight: 200;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
}

h2 {
    font-size: 12px;
    /*color: #f18388;*/
    color: #2057b5;
    font-family: 'Source Code Pro', 'Courier New', 'Lucida Sans Typewriter', monospace;
    line-height: 0px;
    text-align: left !important;
    text-transform: uppercase;
    padding-left: 0px;
    margin-left: 0px;
}

h3 {
    font-size: 14px !important;
    color: #2057b5 !important;
    background-color: transparent !important;
    font-family: 'Source Code Pro', 'Courier New', 'Lucida Sans Typewriter', monospace;
    line-height: 0px;
    text-align: left !important;
    /*position: absolute;*/
    text-transform: capitalize;
    padding-left: 0px !important;
}

@media only screen and (min-width: 600px){
    
    #legenda-azul{
        height: 60px;
        width: auto;  
        position: absolute;
        padding: 20px;
        padding-bottom: 5px;
        color: beige;
        background-color: #2057b5;
        z-index: 10000;
        border-top: 1px solid #fdfbea;
        border-right: 1px solid #fdfbea;
        left: 5%;
        bottom: 10%;
       /* left: 0;
        bottom: 0;*/
        letter-spacing: 0.5px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px){
    
    #legenda-azul{
        height: 40px;
        width: 100%; 
        text-align: center;
        position: absolute;
        padding-top: 5px;
        padding-bottom: 5px;
        color: beige;
        background-color: #2057b5;
        z-index: 10000;
        border-top: 1px solid #fdfbea;
        left: 0%;
        bottom: 1%;
        letter-spacing: 0.5px;
        font-size: 12px;
        }
}

#top, #bottom, #left, #right {
  z-index:1000;
	background: #fdfbea;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 50px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		}
		#top { top: 0; 
		height: 50px;}
		#bottom { bottom: 0; 
		height: 50px;}

#top-b, #bottom-b, #left-b, #right-b {
  z-index:1000;
	background: #2057b5;
	position: fixed;
	}
	#left-b, #right-b {
		top: 0; bottom: 0;
		width: 50px;
		}
		#left-b { left: 0; }
		#right-b { right: 0; }
		
	#top-b, #bottom-b {
		left: 0; right: 0;
		}
		#top-b { top: 0; 
		height: 50px;}
		#bottom-b { bottom: 0; 
		height: 50px;}

.sound{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
}

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      /*width: 100%;*/
      width: 90%;
      height: 80%;
      left: 5%;
      top: 10%;
    }

    /* Popup styling */

    .mapboxgl-popup {
      padding: 15px;
      top: -65px !important;
      min-width: 250px !important;
      
    }

    .mapboxgl-popup-close-button {
      display: none;
    }

    .mapboxgl-popup-content {
      font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
      padding: 10px !important;
      width: 130%;
      background: white !important;
      top: -2px;
      margin-bottom: 5px;
    }

    .mapboxgl-popup-content-wrapper {
      padding: 1%;
    }

    .mapboxgl-popup-content h3 {
      background: rgb(61, 59, 59);
      text-align: center;
      color: #fff;
      margin: 0;
      display: block;
      padding: 15px;
      font-weight: 700;
      margin-top: -4px;
    }

    .mapboxgl-popup-content h4 {
      margin: 0;
      display: block;
      padding: 10px 3px 10px 10px;
      font-weight: 400;
    }

    .mapboxgl-container {
      cursor: pointer;
    }

    .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
      margin-top: 3px;
    }
    .mapboxgl-popup-anchor-bottom>.mapboxgl-popup-content {
      margin-top: 3px;
    }
    .mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
      border-bottom-color: #fdfbea;
    }
.mapboxgl-popup-tip {
    border-top-color: #fdfbea !important;
    border-bottom-color: #fdfbea !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    align-self: center;
    border-top-color: #fdfbea !important;
}


.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #fdfbea !important;
    border-top-color: #fdfbea !important;
    border-bottom-color: #fdfbea00 !important;
}

.mapboxgl-popup-anchor-left {
    left: 20px !important;
    top: 10px !important;
}

.mapboxgl-popup-anchor-right {
    left: -20px !important;
    top: 10px !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #fdfbea !important;
    border-top-color: #fdfbea00 !important;
    border-bottom-color: #fdfbea00 !important;
}

.mapboxgl-popup-anchor-bottom {
    top: 20px;
}

.mapboxgl-popup-anchor-top {
    top: 20px !important;
    margin-top: 0px;
}

a.mapboxgl-ctrl-logo{
  display: none !important;
}

.mapboxgl-ctrl-bottom-right{
    display: none;
}
.mapboxgl-ctrl-top-right{
    top: 50px !important;
    right: 50px !important;
}
.mapboxgl-ctrl-top-left {
    top: 50px !important;
    left: 50px !important;
}

.mapboxgl-ctrl-group button {
    background-color: #fdfbea;
}

.mapboxgl-ctrl-compass{
    display: none !important;
}

.mapboxgl-ctrl-group button {
    background-color: #fdfbea !important;  
}


.mapboxgl-ctrl-group:not(:empty) {
    box-shadow: 0 0 0 2px transparent !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
 background-image:url("../in.svg") !important;
    background-size: 130%;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
 background-image:url("../out.svg") !important;
    background-size: 130%;
}

.mapboxgl-ctrl-group button + button {
    border-top: 1px solid #2057b5 !important;
}

.video-wrapper {   
    width: 100% !important;
}
audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    background-color: #ffe629;
}

audio{
    position: absolute;
    background-color: #ffe629;
    opacity: 1;
    width: 100% !important;
    height: 40px !important;
    z-index: 1000;
}

.controls button:hover, .controls button:focus {
   color: #f18388;
}
