
<div id="menu-mobile">
 
  <i id="show-menu" aria-hidden="true" style="cursor: pointer;"><img src="{{ site.baseurl }}/assets/favicons/favicon.png" width="30px"></i>

  
   <div id="menu-retratil" class="menu-hide">
    <div id="hide-menu" class="menu-icon hide-menu">✖</div>
      <a class="closebtn" onclick="closeNav()">&times;</a>
    {% include menu-items.html %}
   </div>  
</div>
   
    
 
<div id="navbar">
    {% include menu-items.html %}
</div>    


<script src="{{ site.baseurl }}/js/script.js"></script>
<script src="{{ site.baseurl }}/js/menu.js"></script>