<div id="navbar">
  <a class="menu-item menu-title" href="{{ site.baseurl }}/">⟲</a>

  <div class="menu-item menu-subtitle"></div>
  {% for post in site.posts %}
    <a class="menu-item menu-item-post" href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
    <br>
  {% endfor %}
<br>
  <div class="menu-item menu-subtitle">꠸_</div>
  {% assign menuPages = site.pages | where:"menu","true" %}
  {% for page in menuPages %}
    <a class="menu-item menu-item-page" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
    <br>
  {% endfor %}
  <br>
    <div class="menu-item menu-subtitle">00000x0_</div>

    <a class="menu-item menu-item-page" href="{{ site.baseurl }}{{ page.url }}"></a>
  <br>
   {% include social-icons.html %}
</div>
