<!DOCTYPE html>
 <html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>
  
 <body> 
        <div id="main-div-index"> 
                <div class="index">
                    <content>
                      {{ content }}
                      {% include swipebox.html %}
                    </content>
                </div> 
         </div>   
        {% include navbar.html %}
 </body>
</html>

