<!DOCTYPE html>
 
 <html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>

  
  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>
  <div class="tarjav">
    <div id="selectedworks">SELECTED WORKS</div>
    <div id="texts">TEXTS</div>
    <div id="colabs">COLABS</div>
    <div id="other">OTHER</div>
    <div id="about">ABOUT</div>
  </div>
  <body>


    <div class="backgroundindex">
        <content>
          {{ content }}
          {% include swipebox.html %}
        </content>
    </div>

        {% include navbar.html %}
  </body>
</html>

