<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    {% include meta.html %}
    
  <meta charset="utf-8" />
  <title>Les voix de l'eau</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/bizanet-assets/map_style_bizanet.css">
  <!-- Google fonts-->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="shortcut icon" href="../bizanet-assets/favicon.ico" />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
  <script src="https://npmcdn.com/csv2geojson@latest/csv2geojson.js"></script>
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.css" type="text/css" />
  
</head>


<body>
    

<div id="map"></div>
  
  <script>
    var geocoder = new MapboxGeocoder({
       accessToken: mapboxgl.accessToken,
       mapboxgl: mapboxgl
    });
    
    var transformRequest = (url, resourceType) => {
      var isMapboxRequest =
        url.slice(8, 22) === "api.mapbox.com" ||
        url.slice(10, 26) === "tiles.mapbox.com";
      return {
        url: isMapboxRequest
          ? url.replace("?", "?pluginName=sheetMapper&")
          : url
      };
    };
      
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2FyYWxnYyIsImEiOiJja2NjbTAyczkwNXA3Mnlscm5nbjN5OHZiIn0.yNcJkPBSugRlIeGkXDRlZw'; //Mapbox token 
      
    var map = new mapboxgl.Map({
      container: 'map', // container id
      style: 'mapbox://styles/saralgc/ckpshkl1o0ed517r3bzlbbf51',
      center: [2.871032, 43.165596], // starting position
      zoom: 16,// starting zoom
      minZoom: 15,
      maxZoom: 18.5,
      transformRequest: transformRequest
    });
    
    $(document).ready(function () {
      $.ajax({
        type: "GET",
        //YOUR TURN: Replace with csv export link
        //https://www.mapbox.com/impact-tools/sheet-mapper
          url:'https://docs.google.com/spreadsheets/d/1ErGUq6AS6HtyfNzYOIntLMwzzelrQNHA5CGeuz_z7X8/gviz/tq?tqx=out:csv&sheet=voixdeleau',
        dataType: "text",
        success: function (csvData) { makeGeoJSON(csvData); }
      });



      function makeGeoJSON(csvData) {
        csv2geojson.csv2geojson(csvData, {
          latfield: 'Latitude',
          lonfield: 'Longitude',
          delimiter: ','
        }, function (err, data) {
          
          map.on('load', function () {
            
            map.loadImage(
             '../bizanet-assets/bizanet-icon.png',
              function(error, image) {
              if (error) throw error;
              map.addImage('camera', image);
            });
            
            map.addLayer({
              'id': 'csvData',
              'type': 'symbol',
              'source': {
                'type': 'geojson',
                'data': data
              },
              'layout': {
                'icon-image': 'camera',
                'icon-anchor': 'bottom', // point of the icon which will correspond to marker's location
                "icon-allow-overlap": true,
                //'icon-size': 0.025
              }
             });

            // When a click event occurs on a feature in the csvData layer, open a popup at the
            // location of the feature, with description HTML from its properties.
            
            map.on('click', 'csvData', function (e) {
              var coordinates = e.features[0].geometry.coordinates.slice();

               var description = `<audio controls style="width:100%;" controlsList="nodownload" autoplay><source src="../bizanet-assets/sounds/` + e.features[0].properties.Audio + `.mp3" type="audio/mpeg"></audio>` + `<h2>` + e.features[0].properties.Place + `</h2>`;
                
              while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
              coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
              }
                
              //add Popup to map
              new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(description)
                .addTo(map);
            });
          
            var bbox = turf.bbox(data);
           // map.fitBounds(bbox, { padding: 50 });
         map.setLayoutProperty('csvData', 'icon-size', 
            ['interpolate', ['linear'], ['zoom'],
              0,
              //TAMANHO AO ZOOM 0
              0.5,
              6,
              //TAMANHO AO ZOOM 7
              0.7,
              15,
              1.0,
              24,
              //TAMANHO AO ZOOM 24
              1.2
            ]);
          });

        });
      };
      
      
    });
    map.on('load', function () {
        
            map.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': 
                        /*[
                                [2.869932, 43.163596], //fontaine de leglise
                                [2.870409, 43.164296], //font trompe loeil
                                [2.873231, 43.167360], //petit lavoir
                                [2.870613, 43.168078], //Ruisseau
                                [2.868773, 43.167726], //Lac
                                [2.868118, 43.166489], //cAVE COOPE
                                [2.867620, 43.163953], //JARDIN COMUNEUX
                                [2.871359, 43.162879],//grand lavoir
                        ]*/
                          [ 
                               [ 2.86985, 43.16362 ], 
          [ 2.86988, 43.16368 ],
          [ 2.8699, 43.16374 ],
          [ 2.86993, 43.1638 ],
          [ 2.86995, 43.16385 ],
          [ 2.86997, 43.16388 ],
          [ 2.87001, 43.16393 ],
          [ 2.87014, 43.16404 ],
          [ 2.87027, 43.16416 ],
          [ 2.87037, 43.16424 ],
          [ 2.87041, 43.16427 ],
          [ 2.87048, 43.16433 ],
          [ 2.87071, 43.16451 ],
          [ 2.87073, 43.16453 ],
          [ 2.87089, 43.16466 ],
          [ 2.87093, 43.16469 ],
          [ 2.87105, 43.1648 ],
          [ 2.87109, 43.16484 ],
          [ 2.87117, 43.16492 ],
          [ 2.87123, 43.165 ],
          [ 2.87124, 43.16502 ],
          [ 2.87129, 43.16512 ],
          [ 2.87131, 43.16516 ],
          [ 2.87133, 43.16522 ],
          [ 2.87138, 43.16535 ],
          [ 2.87149, 43.16567 ],
          [ 2.87151, 43.16573 ],
          [ 2.87152, 43.16575 ],
          [ 2.87164, 43.16608 ],
          [ 2.87176, 43.16634 ],
          [ 2.87178, 43.16638 ],
          [ 2.87183, 43.16648 ],
          [ 2.87185, 43.16652 ],
          [ 2.87191, 43.16662 ],
          [ 2.87193, 43.16665 ],
          [ 2.87195, 43.16668 ],
          [ 2.87203, 43.16677 ],
          [ 2.8721, 43.16686 ],
          [ 2.87213, 43.16688 ],
          [ 2.87227, 43.16698 ],
          [ 2.87237, 43.16704 ],
          [ 2.8724, 43.16706 ],
          [ 2.87244, 43.16707 ],
          [ 2.87247, 43.16708 ],
          [ 2.87264, 43.16718 ],
          [ 2.87282, 43.16724 ],
          [ 2.87285, 43.16725 ],
          [ 2.87286, 43.16728 ],
          [ 2.8729, 43.1673 ],
          [ 2.87293, 43.16732 ],
          [ 2.87298, 43.16734 ],
          [ 2.87303, 43.16737 ],
          [ 2.87309, 43.1674 ],
          [ 2.87303, 43.16737 ],
          [ 2.87298, 43.16734 ],
          [ 2.87293, 43.16732 ],
          [ 2.8729, 43.1673 ],
          [ 2.87286, 43.16728 ],
          [ 2.87285, 43.16725 ],
          [ 2.87282, 43.16724 ],
          [ 2.87266, 43.16719 ],
          [ 2.87244, 43.16729 ],
          [ 2.87214, 43.16744 ],
          [ 2.87184, 43.16759 ],
          [ 2.8718, 43.16762 ],
          [ 2.87151, 43.16777 ],
          [ 2.87138, 43.16783 ],
          [ 2.87128, 43.16788 ],
          [ 2.87109, 43.16794 ],
          [ 2.87102, 43.168 ],
          [ 2.87095, 43.16803 ],
          [ 2.87086, 43.16806 ],
          [ 2.87072, 43.16808 ],
          [ 2.87059, 43.16812 ],
          [ 2.87057, 43.16813 ],
          [ 2.87052, 43.16814 ],
          [ 2.87045, 43.16814 ],
          [ 2.8702, 43.16812 ],
          [ 2.86982, 43.1681 ],
          [ 2.86953, 43.16808 ],
          [ 2.8691, 43.168 ],
          [ 2.86889, 43.16796 ],
          [ 2.86886, 43.16795 ],
          [ 2.86863, 43.16793 ],
          [ 2.8684, 43.16788 ],
          [ 2.86825, 43.16783 ],
          [ 2.86834, 43.16774 ],
          [ 2.86845, 43.16767 ],
          [ 2.8685, 43.16764 ],
          [ 2.86855, 43.16761 ],
          [ 2.86864, 43.16755 ],
          [ 2.86882, 43.1676 ],
          [ 2.86866, 43.16755 ],
          [ 2.86856, 43.16751 ],
          [ 2.86847, 43.16745 ],
          [ 2.86843, 43.16741 ],
          [ 2.86847, 43.16739 ],
          [ 2.86861, 43.1673 ],
          [ 2.86888, 43.16715 ],
          [ 2.86919, 43.16699 ],
          [ 2.86932, 43.1669 ],
          [ 2.86927, 43.16686 ],
          [ 2.86916, 43.16676 ],
          [ 2.86905, 43.16666 ],
          [ 2.86894, 43.16656 ],
          [ 2.86884, 43.16646 ],
          [ 2.86875, 43.16639 ],
          [ 2.8687, 43.16638 ],
          [ 2.86866, 43.16639 ],
          [ 2.86861, 43.1664 ],
          [ 2.8685, 43.16645 ],
          [ 2.86846, 43.16647 ],
          [ 2.8685, 43.16645 ],
          [ 2.86861, 43.1664 ],
          [ 2.86866, 43.16639 ],
          [ 2.8687, 43.16638 ],
          [ 2.86872, 43.16635 ],
          [ 2.86874, 43.16632 ],
          [ 2.86877, 43.1663 ],
          [ 2.86888, 43.16624 ],
          [ 2.86897, 43.16619 ],
          [ 2.86904, 43.16614 ],
          [ 2.86924, 43.16603 ],
          [ 2.86933, 43.16597 ],
          [ 2.86924, 43.16588 ],
          [ 2.86918, 43.16582 ],
          [ 2.86912, 43.16576 ],
          [ 2.86905, 43.1657 ],
          [ 2.86899, 43.16564 ],
          [ 2.86894, 43.16559 ],
          [ 2.86893, 43.16557 ],
          [ 2.86887, 43.1655 ],
          [ 2.86877, 43.16539 ],
          [ 2.86877, 43.16534 ],
          [ 2.86876, 43.1653 ],
          [ 2.86873, 43.16527 ],
          [ 2.86871, 43.16524 ],
          [ 2.86868, 43.16521 ],
          [ 2.86866, 43.16519 ],
          [ 2.86865, 43.16518 ],
          [ 2.86863, 43.16516 ],
          [ 2.86859, 43.16512 ],
          [ 2.86841, 43.16495 ],
          [ 2.86839, 43.16492 ],
          [ 2.86836, 43.1649 ],
          [ 2.8683, 43.16483 ],
          [ 2.86826, 43.16485 ],
          [ 2.86811, 43.16464 ],
          [ 2.868, 43.16449 ],
          [ 2.86798, 43.16447 ],
          [ 2.86796, 43.16445 ],
          [ 2.86781, 43.16434 ],
          [ 2.86778, 43.16432 ],
          [ 2.86775, 43.16428 ],
          [ 2.86773, 43.16425 ],
          [ 2.86772, 43.16418 ],
          [ 2.86779, 43.1641 ],
          [ 2.86763, 43.16403 ],
          [ 2.86762, 43.16402 ],
          [ 2.86742, 43.16393 ],
          [ 2.86749, 43.16389 ],
          [ 2.86759, 43.16382 ],
          [ 2.86749, 43.16389 ],
          [ 2.86742, 43.16393 ],
          [ 2.86723, 43.16379 ],
          [ 2.86717, 43.16374 ],
          [ 2.86718, 43.16356 ],
          [ 2.86724, 43.16356 ],
          [ 2.8673, 43.16354 ],
          [ 2.86741, 43.16349 ],
          [ 2.86765, 43.16331 ],
          [ 2.868, 43.16307 ],
          [ 2.8682, 43.16293 ],
          [ 2.86826, 43.16299 ],
          [ 2.8684, 43.16313 ],
          [ 2.86845, 43.16317 ],
          [ 2.86852, 43.16321 ],
          [ 2.8686, 43.16326 ],
          [ 2.86879, 43.16335 ],
          [ 2.86895, 43.16341 ],
          [ 2.86903, 43.16344 ],
          [ 2.86918, 43.16351 ],
          [ 2.86927, 43.16354 ],
          [ 2.86935, 43.16353 ],
          [ 2.86951, 43.16348 ],
          [ 2.86969, 43.16344 ],
          [ 2.8698, 43.16343 ],
          [ 2.86981, 43.1633 ],
          [ 2.86981, 43.16326 ],
          [ 2.8698, 43.16323 ],
          [ 2.87012, 43.16311 ],
          [ 2.87028, 43.16305 ],
          [ 2.87048, 43.16301 ],
          [ 2.87076, 43.16296 ],
          [ 2.87092, 43.16295 ],
          [ 2.87094, 43.16294 ],
          [ 2.87101, 43.16294 ],
          [ 2.87107, 43.16294 ],
          [ 2.87114, 43.16295 ],
          [ 2.8712, 43.16296 ],
          [ 2.87121, 43.16296 ],
          [ 2.87131, 43.16297 ] 
                              ] 
                    }
               }
            });
      
            
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                'line-join': 'round',
                'line-cap': 'round'
                },
                'paint': {
                'line-color': '#00753c',
                'line-width': 7
                }
            });
    });
    

      // ZOOM
     // map.addControl(new mapboxgl.NavigationControl(), 'top-left'); // disable map zoom when using scroll
    //  map.scrollZoom.disable(); 
      
    // Add geolocate control to the map.
      
        map.addControl(
            new mapboxgl.GeolocateControl({
            positionOptions: {
            enableHighAccuracy: true
            },
            trackUserLocation: true
            })
        );
  </script>

  
<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
  
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

    
<content>
    <img src="../bizanet-assets/bizanet.png" alt="les voix de l'eau"> 
    {{ content }}
</content>
          
</body>

</html>