<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>na palma das mãos</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/map_style_beco.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/essential_audio.css">
  <script src="{{ site.baseurl }}/js/essential_audio.js"></script>
  <!-- Google fonts-->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;800;900&display=swap" rel="stylesheet"> 
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet" />
  <script src="https://npmcdn.com/csv2geojson@latest/csv2geojson.js"></script>
  <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.0.0/mapbox-gl-geocoder.css" type="text/css" />
  
</head>
      

  <div id="m-left"></div>
  <div id="m-right"></div>
  <div id="m-top"></div>
  <div id="m-bottom"></div>
  <div id="m2-left"></div>
  <div id="m2-right"></div>
  <div id="m2-top"></div>
  <div id="m2-bottom"></div> 
  <div id="m3-left"></div>
  <div id="m3-right"></div>
  <div id="m3-top"></div>
  <div id="m3-bottom"></div>  
<body>
    
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <div class="sidebar-content">
    <br><br><br><br>
        <img src="../assets/maps/logopalma.png" style="margin-left: 10%;">
        <br><br><br>
        <div class="content2">
            <p><a href="https://saralana.xyz/na-palma" target="_blank">NA PALMA DAS MÃOS</a> é um projeto da artista <a href="https://saralana.xyz/" target="_blank">Sara Lana</a> para a criação de um mapa de Belo Horizonte construído a partir da colagem de trajetos desenhados à mão.
                <br><br>
                Para a edição da Pampulha, centenas de desenhos foram coletados em ações realizadas no Arquivo Público da Cidade de Belo Horizonte, na Casa do Baile, no Museu Casa Kubitschek e no Centro de Referência da Cultura Popular e Tradicional Lagoa do Nado. 
                <br><br>
                Os mapas foram realizados espontânea e afetivamente, em diferentes tamanhos e formatos. Apesar disso, a colagem foi realizada respeitando-se as escalas e coordenadas geográficas das ruas, praças e de outros lugares desenhados. 
                <br><br>
                Clique nos pontos vermelhos para ver cada desenho realizado.
                <br><br>      
                O mapa servirá como importante instrumento de divulgação internacional sobre características da Pampulha, representadas a partir do olhar de seus moradores e frequentadores.
                <br><br>            
                O objetivo é promover uma reflexão acerca dos múltiplos olhares sobre o patrimônio, demonstrando como os citadinos se apropriam dele e tecem suas próprias redes de referências. Este mapa poderá incentivar outros moradores de regiões protegidas a fazerem a mesma reflexão, mostrando como que, para o patrimônio ser mundial, ele
                precisa valorizar as referências locais.
                <br><br>            
                Esta ação faz parte do projeto "Cultura na Cidade", uma parceria entre a Fundação Municipal de Cultura e o Ministério Público de Minas Gerais por meio do Funemp, e se fez possível graças às educadoras e educadores dos centros culturais que conduziram as ações de coleta.
                <br><br>
                Confira a programação do Circuito Municipal de Cultura em: <a href="https://portalbelohorizonte.com.br/circuitomunicipaldecultura" target="_blank">portalbelohorizonte.com.br/circuitomunicipaldecultura</a>
                <br><br>
                Esse projeto se fez possível graças às educadoras e educadores da Fundação Municipal de Cultura que conduziram as ações de coleta.    
            </p><br><br>
            <b>FICHA TÉCNICA</b><br><br>
            <p>
            <b>Idealização:</b> Sara Lana <br><br>
            <b>Acompanhamento/Coordenação:</b> Lays Silva de Souza e Yuri Mello Mesquita<br><br>
            <b>Assistência:</b> Mariana Zani<br><br>
            <b>Ações de Coleta:</b> Carolina Pimentel, Cássio Campos, Daniela Tameirão, Dyego Souza, Evandro Faria, Fernanda Werneck, Gabriella Diniz Mansur, Giovanna Machado, Iandry Soares, Isabela Guerra, Isabela Tunes, Larissa Ribeiro, Lays Silva de Souza, Mariana Zani, Michelle Torre, Yuri Mello Mesquita, Thays Melo.<br><br>
            Agradecemos a todas as pessoas que contribuiram com seus desenhos, educadoras e educadores que conduziram as ações de coleta e, também, a Clarice Fernandes Rodrigues, Félix Blume, Túlio Jorge e Michelle Galvão.<br><br>
            </p>
            <br><br><br><br></div>
        </div>
</div>



<img src="../assets/maps/logo-palma2.png" class="openbtn" onclick="openNav()"> 
    
<div id="map"></div>
  
  <script>
    var geocoder = new MapboxGeocoder({
       accessToken: mapboxgl.accessToken,
       mapboxgl: mapboxgl
    });
    
    var transformRequest = (url, resourceType) => {
      var isMapboxRequest =
        url.slice(8, 22) === "api.mapbox.com" ||
        url.slice(10, 26) === "tiles.mapbox.com";
      return {
        url: isMapboxRequest
          ? url.replace("?", "?pluginName=sheetMapper&")
          : url
      };
    };
      
    mapboxgl.accessToken = 'pk.eyJ1Ijoic2FyYWxnYyIsImEiOiJja2NjbTAyczkwNXA3Mnlscm5nbjN5OHZiIn0.yNcJkPBSugRlIeGkXDRlZw'; //Mapbox token 
    const bounds = [[-43.973,-19.954],[-43.877,-19.906]];
    var map = new mapboxgl.Map({
      container: 'map', // container id
     style: 'mapbox://styles/saralgc/cl6wy8rba001k14s5owktz6ps',
//style: 'mapbox://styles/saralgc/cl0rkrs9g001614pabv4cjm3t',
 //'mapbox://styles/saralgc/cks5cot1g19zk17muudrwh23c',
      center: [-43.973,-19.835], // starting position
      zoom: 14.5,// starting zoom
      minZoom: 12,
      maxZoom: 18,  
      pitch: 0, // pitc3 in degrees
      bearing: 0, // bearing in degrees
      transformRequest: transformRequest
      //maxBounds: bounds // Set the map's geographical boundaries.
    });
    
    $(document).ready(function () {
      
      function makeGeoJSON(csvData) {
        csv2geojson.csv2geojson(csvData, {
          latfield: 'Latitude',
          lonfield: 'Longitude',
          delimiter: ','
        }, function (err, data) {
          
          map.on('load', function () {

            map.addLayer({
              'id': 'csvData',
              'type': 'symbol',
              'source': {
                'type': 'geojson',
                'data': data
              },
              'layout': {
                'icon-image': '{Vaca}',
                'icon-anchor': 'bottom-left', // point of the icon which will correspond to marker's location
                "icon-allow-overlap": true,
                //'icon-size': 0.025
              }
             });

            // When a click event occurs on a feature in the csvData layer, open a popup at the
            // location of the feature, with description HTML from its properties.
               
              
         map.setLayoutProperty('csvData', 'icon-size', 
            ['interpolate', ['linear'], ['zoom'],
              0,
              //TAMANHO AO ZOOM 0
              0.04,
              8,
              //TAMANHO AO ZOOM 7
              0.12,
              11,
              0.25,
              24,
              //TAMANHO AO ZOOM 24
              0.35
            ]);
              
              
          });

        });
      };
      
      
    });

    // GRID pampulha A
    map.on('load', () => {
            map.addSource('pampulha_a1', {
                'type': 'image',
                'url': '../assets/maps/beco/pampulha_a1.png',
                'coordinates': [
                    
                    [-44.028,-19.785],
                    [-43.980,-19.785],
                    [-43.980,-19.835],
                    [-44.028,-19.835]
                ]
                })
                map.addLayer({
                    id: 'pampulha_a1',
                    'type': 'raster',
                    'source': 'pampulha_a1',
                    'paint': {
                    'raster-fade-duration': 0
                }
            });
            
            
        });

// INICIO GALERIAS DE FOTOS

            map.on('load', () => {
            $(document).ready(function () {

                $.ajax({
                type: "GET",
                //url: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQxQ6vlKvIcZOofNmTHqROPlCbgBEq9Eh0np0tWAuu2xo3sWx_PqJ9yHdf1CKq6gwyO228PCeYTjj0R/pub?gid=445961039&single=true&output=csv',
                //url: 'assets/maps/beco/FOTOS.csv',
                url: 'assets/maps/napalma.csv',
                dataType: "text",
                success: function (csvData) { makeGeoJSON2(csvData); }
                });


                });          
                
                // FOTOS

                function makeGeoJSON2(csvData) {
                csv2geojson.csv2geojson(csvData, {
                    latfield: 'Latitude',
                    lonfield: 'Longitude',
                    delimiter: ','
                }, function (err, data) {

                        
                        map.addLayer({
                        'id': 'Fotos',
                        'type': 'circle',
                        'source': {
                            'type': 'geojson',
                            'data': data
                        },
                        'paint': {
                            'circle-radius': 10,
                            'circle-color': "red",
                        }
                        });
                 
                    const images = [
                    { name: 'f1', path: 'assets/maps/beco/marker.png' },
                    { name: 'f2', path: 'assets/maps/beco/marker.png' },
                    { name: 'f3', path: 'assets/maps/beco/marker.png' },
                    { name: 'f4', path: 'assets/maps/beco/marker.png' },
                    { name: 'f5', path: 'assets/maps/beco/marker.png' },
                    { name: 'f6', path: 'assets/maps/beco/marker.png' },
                    { name: 'f7', path: 'assets/maps/beco/marker.png' },
                    { name: 'f8', path: 'assets/maps/beco/marker.png' }
                    ];

                    Promise.all(
                    images.map(image => new Promise((resolve, reject) => {
                        map.loadImage(
                        image.path,
                        function(error, img) {
                            if (error) reject(error);
                            map.addImage(image.name, img);
                            resolve();
                        }
                        );
                    }))
                    ).then(() => {

                    // LAYER       
                    
                    map.on('click', 'Fotos', function (e) {
                        var coordinates = e.features[0].geometry.coordinates.slice();

                        //var description = `<img src="./assets/fotos/foto` + e.features[0].properties.Galeria + `.png" style="width:80%;">`;
                        var description = '<a href="../assets/fotos/foto' + e.features[0].properties.Galeria + '_4.png"><img src="../assets/fotos/foto' + e.features[0].properties.Galeria + '_4.png"></a>';
                        
                        var images =  [
                                ['../assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_1.jpg'],
                                ['../assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_2.jpg'],
                                ['assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_3.jpg'],
                                ['assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_4.jpg'],
                                ['assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_5.jpg'],
                                ['assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_6.jpg'],
                                ['assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_7.jpg'],
                                ['assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_8.jpg'],
                                ['assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_9.jpg'],
                                ['assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_10.jpg'],
                                ['assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_11.jpg'],
                                ['assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_12.jpg'],
                                ['assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_13.jpg'],
                                ['assets/maps/palma-fotos/' + e.features[0].properties.Galeria + '_14.jpg']
                                ]
                        
                        var slideshowContent = ""
                        
                        for (var i = 0; i < images.length; i++) {
                            var img = images[i];

                            slideshowContent += '<div class="image' + (i === 0 ? ' active' : '') + '">' +
                            '<img src="' + img[0] + '" />' +
                            '</div>';
                        }
                        
                        var popupContent = '<div class="popup">' + 
                            '<div class="slideshow">' +
                            slideshowContent +
                            '</div>' +
                            '<div class="cycle">' +
                            '<a href="#" class="prev">‹</a>' +
                            '<a href="#" class="next">›</a>' +
                            '</div>' +
                        '</div>';
                        

                        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                        }

                        /* mostarda();*/

                        //only one popup once 
                        e.originalEvent.cancelBubble3 = true;
                        if (e.originalEvent.cancelBubble || e.originalEvent.cancelBubble2 || e.originalEvent.cancelBubble4) {
                            return;
                        }

                            // create the popup
                        /*                
                        new mapboxgl.Popup({className: 'popupFotos'})
                            .setLngLat(coordinates)
                            .setPopup(description)
                            .addTo(map); */

                        
                        new mapboxgl.Popup({closeButton: true, className: 'popupFotos'})
                            .setLngLat(coordinates)
                            .setHTML(popupContent)
                            .addTo(map); 
                    });


                    $('#map').on('click', '.popup .cycle a', function () {
                    var $slideshow = $('.slideshow'),
                        $newSlide;

                    if ($(this).hasClass('prev')) {
                        $newSlide = $slideshow.find('.active').prev();
                        if ($newSlide.index() < 0) {
                        $newSlide = $('.image').last();
                        }
                    } else {
                        $newSlide = $slideshow.find('.active').next();
                        if ($newSlide.index() < 0) {
                        $newSlide = $('.image').first();
                        }
                    }

                    $slideshow.find('.active').removeClass('active').hide();
                    $newSlide.addClass('active').show();
                    return false;
                    }); 

                    

                    map.on('mouseenter', 'Fotos', function () {
                        map.getCanvas().style.cursor = 'pointer';
                    });

                    map.on('mouseleave', 'Fotos', function () {
                        map.getCanvas().style.cursor = '';
                    });

                        map.setLayoutProperty('Fotos', 'icon-size', 
                    ['interpolate', ['linear'], ['zoom'],11,0.08,14,0.4]);
                    
                     });

                });
                }    
                
            });


// FIM GALERIAS DE FOTOS

   // ZOOM
      map.addControl(new mapboxgl.NavigationControl(), 'bottom-right'); // disable map zoom when using scroll
    //  map.scrollZoom.disable(); 
    
      
      //IMAGENS       
        
               
    /*planta
      map.on('load', () => {
        // Load an image from an external URL.
        map.loadImage(
        '../assets/maps/planta-saida.png',
            (error, image) => {
                if (error) throw error;
                // Add the image to the map style.
                map.addImage('planta', image);

                // Add a data source containing one point feature.
                map.addSource('point5', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': [
                        {
                            'type': 'Feature',
                            'geometry': {
                            'type': 'Point',
                            'coordinates': [-43.908,-19.9285]
                            }
                        }]
                    }
                });
                // Add a layer to use the image to represent the data.
                map.addLayer({
                    'id': 'planta',
                    'type': 'symbol',
                    'source': 'point5', 
                    'layout': {
                        'icon-anchor': 'left', 
                        "icon-allow-overlap": true,
                        'icon-image': 'planta',
                        'icon-size': ['interpolate', ['linear'], ['zoom'], 6, 0.3, 10, 1]
                    }
                });
            }
        );

    });  
      */
                 

      //map.scrollZoom.disable(); 
      
      map.on('click', (e) => {console.log(e);}); 
      
      map.on('load', () => {
        /*  
        map.addSource('places', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': [
                    {
                        'type': 'Feature',
                        'properties': {
                            'description':
                               '<div style="width:100%; display:none;"><audio controls autoplay><source src="../assets/sounds/beco/Mercado-Ouvidor.mp3" type="audio/mpeg"></audio></div>'
                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-43.943,-19.924]
                        }
                    },
                    {
                        'type': 'Feature',
                        'properties': {
                            'description':
                               '<div style="width:100%; display:none;"><audio controls autoplay><source src="../assets/sounds/beco/Amazonas.mp3" type="audio/mpeg"></audio></div>'
                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-43.946,-19.920]
                        }
                    },
                    {
                        'type': 'Feature',
                        'properties': {
                            'description':
                               '<div style="width:100%; display:none;"><audio controls autoplay><source src="../assets/sounds/beco/Centro-Lagoinha.mp3" type="audio/mpeg"></audio></div>'
                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-43.955,-19.930]
                        }
                    },
                    {
                        'type': 'Feature',
                        'properties': {
                            'description':
                               '<div style="width:100%; display:none;"><audio controls autoplay><source src="../assets/sounds/beco/Mercado-Praca7.mp3" type="audio/mpeg"></audio></div>'
                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-43.943,-19.930]
                        }
                    },
                    {
                        'type': 'Feature',
                        'properties': {
                            'description':
                               '<div style="width:100%; display:none;"><audio controls autoplay><source src="../assets/sounds/beco/StaEfigenia-Veracruz.mp3" type="audio/mpeg"></audio></div>'
                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-43.901,-19.928]
                        }
                    },
                    {
                        'type': 'Feature',
                        'properties': {
                            'description':
                               '<div style="width:100%; display:none;"><audio controls autoplay><source src="../assets/sounds/beco/Parana-Rodoviaria.mp3" type="audio/mpeg"></audio></div>'
                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-43.949,-19.928]
                        }
                    },
                    {
                        'type': 'Feature',
                        'properties': {
                            'description':
                               '<div style="width:100%; display:none;"><audio controls autoplay><source src="../assets/sounds/beco/RaulSoares-Praca7.mp3" type="audio/mpeg"></audio></div>'
                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-43.947,-19.935]
                        }
                    },
                    {
                        'type': 'Feature',
                        'properties': {
                            'description':
                               '<div style="width:100%; display:none;"><audio controls autoplay><source src="../assets/sounds/beco/Ouvidor-Mercado.mp3" type="audio/mpeg"></audio></div>'
                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [-43.925,-19.930]
                        }
                    }
                ]
            }
        });*/
        // Add a layer showing the places.
        
        map.addLayer({
            'id': 'places',
            'type': 'circle',
            'source': 'places',
            'paint': {
                'circle-color': 'transparent',
                'circle-radius': 53,
                'circle-stroke-width': 1,
                'circle-stroke-color': 'transparent'
            }
        });

        // Create a popup, but don't add it to the map yet.
        const popup = new mapboxgl.Popup({
            closeButton: false,
            closeOnClick: false
        });

        map.on('mouseenter', 'places', (e) => {
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'crosshair';
            // Copy coordinates array.
            const coordinates = e.features[0].geometry.coordinates.slice();
            const description = e.features[0].properties.description;

            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            // Populate the popup and set its coordinates
            // based on the feature found.
            popup.setLngLat(coordinates).setHTML(description).addTo(map);
        });

        map.on('mouseleave', 'places', () => {
            map.getCanvas().style.cursor = '';
            popup.remove();
        });
    });
   </script>

<script>


function openNav() {
    var mq = window.matchMedia( "(min-width: 700px)" );
    if (mq.matches){
    document.getElementById("mySidebar").style.width = "35%"; //set sidebar width for desktop size
    } 
    else {
    document.getElementById("mySidebar").style.width = "100%"; //set sidebar width for mobile size
    };
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
}

</script>
 
    
</body>

</html>