<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
    {% include share.html %}
  </head>
  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>
  
  <body id="palette2">
    <div class="background404">
        <content>
          {{ content }}
        </content>
    </div>    
    {% include navbar.html %}

    <script>
        if (navigator.userAgent.includes('iPhone') || navigator.userAgent.includes('iPad')) {
          // redirect link for Android. Add Play Store link below
          window.location.href = '../na-palma'
        } else {
          // Fallback redirect for other platforms
          window.location.href = '../napalmadasmaos'
        }
    </script>
  </body>
</html>
