<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>
  
  <body id="palette1">
        <div id="main-div-index">
              <div id="post">
              {% include prev-next.html %}
                {% unless page.permalink == '/' %}
                  <div class="post-title">{{ page.title }}</div>
                  <br>
                  <b>{{ page.who }}</b>
                  <p>{{ page.type }}</p>
                  <b>{{ page.data }}</b>
                {% endunless %}
                <br><br><br>
                <content>
                  {{ content }}
                  {% include swipebox.html %}
                  {% if page.credits == "sem" %}
                  {% else %}
                  <br>
                  <div class="credits">
                      {% case page.lang %}
                        {% when 'en' %}
                          <i>Photos </i>  
                        {% else %}
                          <i>Fotos </i>   
                      {% endcase %} 
                      {{ page.credits }}
                  </div>
                  <br>    
                  {% endif %}
                </content>
                  <br>
                  <hr>
                  <br>
            {% case page.lang %}
                {% when 'en' %}
                  <b>Exhibitions:</b>  
                {% else %}
                  <b>Apresentações:</b>   
            {% endcase %}    
                 <br><br>
                     {% for place in page.where %}
                        <div class="list-footpage">
                          {% if place.url == "sem" %}
                             {{ place.name }}
                          {% else %}
                            <a href="{{ place.url }}" target="_blank">{{ place.name }}</a>
                          {% endif %}
                        </div>
                     {% endfor %}  
             <br>
             <hr>
             <br>
            {% case page.lang %}
                {% when 'en' %}
                  <b>Thanks to:</b>  
                {% else %}
                  <b>Agradecimentos:</b>   
            {% endcase %} 
                 <p>{{ page.thanks }}</p>
             <br>
             <hr>
             <br>            
         </div>
        {% include navbar.html %}
  </body>
</html>
